<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon.png"
              sequence="10"/>



    <menuitem id="menu_hospital_operations"
              name="Operations"
              parent="menu_hospital_root"
              sequence="10"/>

    <menuitem id="menu_hospital_patient"
              name="Patients"
              parent="menu_hospital_operations"
              action="action_hospital_patient"
              sequence="10"/>




    <record id="action_hospital_appointment" model="ir.actions.act_window">
        <field name="name">Appointments</field>
        <field name="res_model">hospital.appointment</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem id="menu_appointment"
              name="Appointments"
              parent="menu_hospital_operations"
              action="action_hospital_appointment"
              sequence="20"/>


    <menuitem id="menu_patient_tag"
          name="Tags"
          parent="menu_hospital_operations"
          action="action_patient_tag"
          sequence="20"/>
</odoo>